@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    background-image: url(bg.jpg);
    color: white;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
    cursor: default;
}

h2 {
    cursor: default;
}

.form-sec {
    flex-direction: column;
    width: 80vw;
    min-height: 100px;
    padding: 10px;
    text-align: center;
    row-gap: 25px;
}

#subcategory {
    margin-left: 20px;
    height: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
}

::selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Type {
    background-color: #fff;
    color: black;
    width: 50px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
}

#jokeText {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 5px;
    margin: 50px 40px;
    min-height: 100px;
    width: 80vw;
    text-align: center;
    cursor: default;
}

#joke-btn {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#joke-btn:active,
#Type:active {
    transform: scale(1.1);
}

.glassmorphismEffect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}